<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Temp Polls</title>
    {% block extra_head %}
    
    {% endblock extra_head %}
</head>
<body>
    <div class="main">    
        <nav class="nav">
            <h1><a class="logo" href="#" ><span>Temp</span> Polls</a></h1>
        </nav>

        {% block content %}
            
        {% endblock content %}
    </div>

    {% block script %}
        
    {% endblock script %}    
</body>
</html>
